.navbar {
  font-weight: 600;
  padding: 0.3rem 1rem !important;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  /* transition: 500ms ease;
  background-color: rgba(3, 37, 37, 0.2); */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
  width: 5rem;
}
/* 
.scrolled {
  background: hsla(180, 85%, 8%, 0.702);
} */

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFE600   !important;
}

.navbar a img {
  margin-bottom: 5px;
}

.navbar .navbar-nav .dropdown-nav .dropdown-item {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navbar .navbar-nav .dropdown-nav a {
  font-size: 14px;
}

.navbar .navbar-nav .dropdown-nav .dropdown-item:hover {
  background-color: #FFE600;
  color: rgb(87, 87, 87);
}

.navbar .navbar-nav .dropdown-nav .dropdown-item:active {
  background-color: #ffe6007a;
  color: #fff;
}

.contact-card .card-body {
  background-color: #c9ab00;
}

@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
  }

  .scrolled {
    background: rgba(3, 37, 37, 0.7);
  }

  .navbar-brand {
    width: 7rem;
  }

  .nav-con {
    border-bottom: 1px solid #fff;
  }

  .nav-link {
    text-transform: uppercase;
    margin-left: 1rem;
    color: white !important;
  }
}