@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap');
html,
body,
header {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
  color: #505962;
  box-sizing: border-box;
}