header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.icon1 {
  fill: aqua;
}

/* banner */
.carousel {
  position: relative;
}

.carousel::after {
  content: '';
  display: block;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.carousel-item {
  height: 600px;
  position: relative;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item-1 {
  background-image: url(../images/carousel/img-4.jpg);
}

.carousel-item-2 {
  background-image: url(../images/carousel/img-2.jpg);
}

.carousel-item-3 {
  background-image: url(../images/carousel/img-3.jpg);
}

.carousel-item .i1 {
  background-position: -1000px -150px;
}

.c1 {
  position: absolute;
  top: 42%;
  filter: drop-shadow(0 1px 4px rgb(0, 0, 0, 0.7));
}

.c2 {
  position: absolute;
  top: 40%;
  filter: drop-shadow(0 1px 4px rgb(0, 0, 0, 0.7));
}

.carousel-caption h3 {
  font-size: 16px;
}

.carousel-item .carousel-caption {
  font-family: 'Times New Roman', serif;
}

.carousel-item .carousel-caption img{
  width: 10rem;
  padding: 0.5rem;
}

.carousel-item .c2 img {
  width: 5rem;
  padding: 4px;
}

.carousel-item .c2 h2 {
  font-weight: bold;
}

.features {
  padding-top: 40px;
  background-color: #ffffff;
}

.features {
  background-color: #ecf3f321;
}

.features h2 {
  font-weight: normal;
  color: #043838;
}

.icon {
  width: 8vh;
}

.features span p {
  font-size: 0.6rem;
  font-weight: bold;
  color: #03252580;
}

.product-item {
  padding: 0;
  background-color: #fafafa;
  padding: 40px 0;
}

.product .product-item .link-category {
  text-decoration: none;
}

.product .product-item .card {
  background-color: #0DA2A2;
  border: 0;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.product .product-item .card:hover,
.product .product-item .card:active  {
  background-color: #0eb1b1;
}

.product .product-item .card .card-title {
  font-weight: bold;
  color: #EDEDED;
}

.product-item .figure .figure-caption {
  background-color: #fff;
}
.product-item .figure .figure-caption h6 {
  font-size: 1rem;
}
.product-item .figure .figure-caption h6,
.product-item .figure .figure-caption p {
  color: #434a52;
}

.product-item .figure .figure-caption p {
  font-size: 0.75rem;
  font-weight: bold;
}

.product-item .figure .figure-caption .more {
  font-size: 0.75rem;
  font-weight: 400;
  color: #816e00;
}

.product-item .figure .figure-caption .more:hover {
  font-weight: 400;
  color: #b19600;
}

.product-item .product-card {
  position: relative;
  box-shadow: 0px 1px 10px rgba(27, 27, 27, 0.25);
}

.product-item .product-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 200ms ease;
}

.product-item .product-hover:hover {
  opacity: 100;
}

footer .about h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.copyright,
.credit,
footer h6 {
  font-size: 12px;
}

footer a {
  font-size: 12px;
  color: #8d7800;
}

@media (min-width: 768px) {

  .carousel-item .carousel-caption img {
    width: 20rem;
    padding: 0.5rem;
  }

  .c1 {
    top: 40%;
  }

  .c2 {
    top: 35%;
  }

  .carousel-item .c2 img {
    width: 6rem;
    padding: 2;
  }

  .carousel-item .c2 h2 {
    font-weight: bold;
    font-size: 52px;
  }

  .carousel-caption h3 {
    font-size: 28px;
  }

  .icon {
    width: 10vh;
  }

  .features span p {
    font-size: 0.6 rem;
  }
}
