@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap');
html,body,header {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #505962;
}

.navbar {
  font-weight: 600;
  padding: 0.3rem 1rem !important;
  font-size: .8rem;
  letter-spacing: .1rem;
  transition: 500ms ease;
  background-color:  rgba(3, 37, 37, 0.2);
  
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
  width: 5rem;
}

.scrolled {
  background: hsla(180, 85%, 8%, 0.702);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffe600 !important;
}

.navbar > a > img {
  margin-bottom: 5px;
}

.carousel {
  position: relative;
}

.carousel::after {
  content : '';
  display: block;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0,0,0,0) );
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.carousel-item{
  height: 80vh;
  position: relative;
  background-position: 50% 20%;
}

.carousel-item-1 {
  background-image: url(../images/carousel/img-4.jpg);
}

.carousel-item-2 {
  background-image: url(../images/carousel/img-2.jpg);
}

.carousel-item-3 {
  background-image: url(../images/carousel/img-3.jpg);
}

.carousel-item .i1 {
  background-position: -1000px -150px;
}

.c1{
  position: absolute;
  top: 42%;
  filter: drop-shadow( 0 1px 4px rgb(0, 0, 0, .7));
}

.c2{
  position: absolute;
  top: 40%;
  filter: drop-shadow( 0 1px 4px rgb(0, 0, 0, .7));
}

.carousel-caption h3 {
  font-size: 16px;
}

.carousel-item .carousel-caption{
  font-family: 'Times New Roman', serif;
}

.carousel-item .carousel-caption img{
  width: 10rem;
  padding: .5rem;
}

.carousel-item .c2 img{
  width: 5rem;
  padding: 4px;
}

.carousel-item .c2 h2 {
  font-weight: bold;
}

.logo-barlland {
  background-image: url("../images/logo.png")
}

.features {
  padding-top: 40px;
  background-color: #f7f7f7;
}

.features h2 {
  font-weight:normal;
  color: #043838;
}

.icon {
  width: 8vh;
}

.features span p {
  font-size: 0.6rem;
  font-weight: bold;
  color: #a1a1a1;
} 

.product-item {
  padding: 0;
  background-color: #ffffff;
  padding: 40px 0;
}

.product-item .figure .figure-caption {
  background-color: #ffffff;
}
.product-item .figure .figure-caption h6 {
  font-size: 1rem;
}
.product-item .figure .figure-caption h6, 
.product-item .figure .figure-caption p{
  color: #434a52;
}

.product-item .figure .figure-caption p{
  font-size: 0.75rem;
  font-weight: bold;
}

.product-item .figure .figure-caption .more{
  font-size: 0.75rem;
  font-weight: 400;
  color: #816e00;
}

.product-item .figure .figure-caption .more:hover{
  font-weight: 400;
  color: #b19600;
}

.product-item .product-card {
  position: relative;
}

.product-item .product-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 200ms ease;
}

.product-item .product-hover:hover {
  opacity: 100;
}

.footer .about h6{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.copyright, .credit, .footer h6 {
  font-size: 12px;
}

.footer a {
  font-size: 12px;
  color: #8d7800;
}

@media (min-width: 768px) { 
  .navbar {
    background-color:  transparent;
  }

  .scrolled {
    background: rgba(3, 37, 37, 0.7);
  }

  .navbar-brand {
    width: 7rem;
  }

  .nav-con {
    border-bottom: 1px solid #fff;
  }

  .nav-link {
    text-transform: uppercase;
    margin-left: 1rem;
    color: white !important;
  } 

  .carousel-item{
    height: 90vh;
    background-position: -300px -100px;
  }

  .carousel-item .carousel-caption img{
    width: 20rem;
    padding: .5rem;
  }

  .c1{
    top: 40%;
  }
  
  .c2{
    top: 35%;
  }

  .carousel-item .c2 img{
    width: 6rem;
    padding: 2;
  }
  
  .carousel-item .c2 h2{
    font-weight: bold;
    font-size: 52px;
  }

  .carousel-caption h3 {
    font-size: 28px;
  }

  .icon {
    width: 10vh;
  }
  
  .features span p {
    font-size: 0.6  rem;
  } 

}
